In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
r=requests.get("https://strommeninc.com/1000-most-common-spanish-words-frequency-vocabulary/")
source=BeautifulSoup(r.content,"html.parser")
source.title

In [3]:
kelimeler=source.find("tbody").find_all("tr")

In [4]:
ispanyolca=[]
ingilizce=[]

for i in kelimeler:
    ispanyolca.append(i.find_all("td")[1].text)
    ingilizce.append(i.find_all("td")[2].text)

In [5]:
kelimeler[3].find_all("td")[2].text

'his'

In [6]:
veri = {"İspanyolca": ispanyolca, "İngilizce": ingilizce}
df = pd.DataFrame(veri)

In [7]:
df.head()

  İspanyolca   İngilizce
0    Spanish  in English
1       como          as
2         yo           I
3         su         his
4        que        that

In [58]:
df=df.drop(0)

In [61]:
df.to_excel("kelimeler.xlsx")